.content-wrapper{
    width: 100%;
    position: relative;
    margin-bottom: 2%;
    width:100%;
}

.content-wrapper img{
    width: 100%;  
    height: 300px;  
   
}

@media screen and (max-width: 600px) {
        .search{
        margin-top: 200px;
        margin-bottom: 300px;
        margin-left: 400px;
        margin-right: 150px;
        
    } 
}

.heading{
    position: absolute;
    color: rgb(240, 240, 240);
    top: 30%;
    text-align: center;
    width: 100%;
    font-size: 5rem;
    text-decoration-color: black;
}

.sub-heading{
    position: absolute;
    color: rgb(224, 224, 224);
    top: 50%;
    text-align:center;
    width: 100%;
    font-size: 2rem;
}
.header-img{
    width: 100%;
    margin-top: -2em;
    margin-bottom: 2em;
    
}
.marmara-wrapper{
    display: inline-flex;
    margin-left:200px;
    align-content: space-between;
}
.video-wrapper{
    width: 100%;
}
.background{
    background-image: url("");
/* background-repeat: repeat-y; */
}
