:root{
    --ff-primary:'Source Sans Pro',sans-serif;
    --ff-secondary:'Source Code Pro',monospace;
    --ff-tertiary:'Open Sans',sans-serif;

    --fw-reg:300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent:#ffffff;

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;

    --bs:0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15)
}
header{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    padding:0;
    height: 40px;
}

header a{
    color:inherit;
    text-decoration: none;
    font-family: var(--ff-tertiary);
    font-size: 13px;
}

header p{
    font-weight: var(--fw-bold)
}

.footer__link{
    font-weight: var(--fw-reg);
}

.footer__link:hover,
.social-list__link:hover{
    opacity: .7;
}

.footer__link:hover{
    text-decoration: underline;
}
.social-list{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    margin: 1.5em 0 1;
    padding: 0;
    width: 50%;
    
}

.social-list-left{
    list-style: none;
    display: flex;
    justify-content:flex-start;
    margin: 1.5em 0 1;
    padding: 0;
    height: 40px;
    width: 50%;
}

.social-list__item{
    margin:.25em .50em;
    color:white;
}

.img-header {
    margin:0;
    height:100%;
    width: 100%;
}

/**/